bumpversion
cookiecutter
coverage
Cython
flake8
ghp-import
green
ipython
jedi
livereload
misaka
mypy-lang
percol
pip
ptpython
pydocstyle
pyflakes
Pygments
pygments-style-railscasts
pygments-style-solarized
pytest
setuptools
Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
tornado
vim-vint
yolog
youtube-dl
