/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color background      #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color foreground      #e0def4;

@define-color black           #26233a;
@define-color red             #eb6f92;
@define-color green           #31748f;
@define-color yellow          #f6c177;
@define-color blue            #9ccfd8;
@define-color magenta         #c4a7e7;
@define-color cyan            #ebbcba;
@define-color white           #e0def4;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
  border: none;
  border-radius: 0;
}

window#waybar {
  min-height: 42px;
  color: @foreground;
  /* background-color: #161821; */
  /* background-color: rgba(22, 24, 33, 0.9); */
  background-color: @background;
}

window.4K#waybar {
  font-family: IBM Plex Mono;
  font-size:  21.5pt;
}

window.FHD#waybar {
  font-family: IBM Plex Mono Text;
  font-size: 11pt;
}

#workspaces button {
  color: @magenta;
  border: 1px solid @magenta;
}

window.4K#waybar #workspaces button {
  padding: 1px 6px;
  margin: 0;
}

window.FHD#waybar #workspaces button {
  padding: 1px 4px;
}

#workspaces button.focused,
#workspaces button.active {
  color: @background;
  background-color: @magenta;
}

#mode {
  background-color: @red;
  padding: 0 16px;
}

#custom-compositor-name {
  font-weight: bold;
  color: @background;
  background-color: @magenta;
  padding: 0 16px;
  margin: 0 12px;
}

#custom-swayidle.Idle {
  color: #666666;
}

#custom-swayidle.Info {
  color: @red;
}

#custom-waybar-mpris.playing {
  color: @magenta;
}

#custom-mic.Idle {
  color: @muted;
}

#custom-mic.Info {
  color: @red;
}

#custom-temperature-cpu.Warning,
#custom-temperature-gpu.Warning {
  color: @red;
}

#custom-temperature-cpu.Critical,
#custom-temperature-gpu.Critical {
  color: @background;
  background-color: @red;
}

#custom-update.info {
  color: @background;
  background-color: @magenta;
  padding-left: 6px;
  padding-right: 8px;
  margin-right: 6px;
}

/* --- Separator --- */
/* 4K monitor */
#custom-swayidle, #custom-ff-volume, #custom-waybar-mpris, window.4K#waybar #custom-clock {
  padding-right: 12px;
  border-right: 1px solid @magenta;
}

window.4K#waybar #tray {
  padding-right: 16px;
  padding-left: 4px;
}

/* FHD monitor */
#custom-mic, #custom-temperature-cpu, #memory, #custom-temperature-gpu, window.FHD#waybar #custom-clock {
  padding-right: 6px;
  border-right: 1px solid @magenta;
}

#cpu, #custom-gpu {
  padding-right: 6px;
  border-right: 1px solid @subtle;
  border-right: 1px solid @highlightHigh;
}

window.FHD#waybar #tray {
  padding-right: 8px;
  padding-left: 2px;
}
