@import "tokyonight-night-oled.css";
/* @define-color muted @highlightMed; */

@define-color foreground @text;
@define-color background @base;

@define-color arch #1793d3;

* {
  min-height: 0;
  transition: all 0.3s;
}

window#waybar {
  background-color: transparent;
}

window#waybar {
  border: none;
  border-radius: 0rem;
  margin: 0px;
  padding: 0rem;

  min-height: 1px;
  color: @foreground;
  background-color: @background;
  border-radius: 0rem;
  font-family: "Moralerspace Neon NF";
}

window#waybar.4K {
  font-size: 13.5pt;
}

window#waybar.FHD {
  font-size: 12.0pt;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 0rem;
  margin: 0px 16px 1px;
}

.modules-center {
  min-width: 64px;
}

#custom-os {
  color: @arch;
  padding: 0rem 0.5rem;
  border-bottom: solid 1px @arch;
}

#workspaces {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  background-color: @muted;
  border-radius: 1rem;
  padding: 0rem 0.43rem;
  margin: 0rem 0.3rem;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.persistent {
  background-color: @subtle;
}

#workspaces button.empty {
  background-color: @muted;
}

#workspaces button.visible {
  background-color: @subtle;
  padding: 0rem 1.00rem;
}

#workspaces button.active {
  background-color: @cyan;
  padding: 0rem 1.00rem;
  animation: ws_active 20s ease-in-out 1;
}

window#waybar.FHD #workspaces button, button {
  padding: 0rem 0.2rem;
}

window#waybar.FHD #workspaces button.visible {
  padding: 0rem 0.65rem;
}

window#waybar.FHD #workspaces button.active {
  padding: 0rem 0.65rem;
}

#custom-media {
  min-height: 0px;
  padding: 0rem 1rem;
  margin: 0px;
}

#custom-media.default {
  padding: 0rem 1rem;
  margin: 0px;
}

#custom-media.Playing {
  color: @magenta;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @magenta;
}

#custom-media.Paused {
  color: @subtle;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @subtle;
}

#custom-media.Stopped {
  padding: 0px 20px;
}

#custom-swayidle {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0rem 1rem;
} 

#custom-swayidle.Idle {
  background-color: @muted;
}

#custom-swayidle.Info {
  background-color: @red;
  padding: 0rem 1.5rem;
}

#custom-mic {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

#custom-mic.Idle {
  background-color: @muted;
  padding: 0rem 1.2rem;
}

#custom-mic.Info {
  background-color: @red;
  padding: 0rem 1.8rem;
}

#custom-ff-volume {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

#custom-ff-volume.Idle {
  background-color: @muted;
  padding: 0rem 1.2rem;
}

#custom-ff-volume.Info {
  background-color: @red;
  padding: 0rem 2.0rem;
}

#cpu {
  color: @cyan;
  border-radius: 0rem;
  border-bottom: solid 4px @cyan;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#memory {
  color: @green;
  border-radius: 0rem;
  border-bottom: solid 4px @green;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-gpu {
  color: @yellow;
  border-radius: 0rem;
  border-bottom: solid 4px @yellow;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature {
  color: @blue;
  border-radius: 0rem;
  border-bottom: solid 4px @blue;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature.Warning {
  color: @red;
  border-bottom: solid 4px @red;
  font-weight: bold;
}

#custom-temperature.Critical {
  color: @background;
  background-color: @red;
  border-bottom: solid 4px @red;
  font-weight: bold;
}

#custom-update.info {
  color: @magenta;
  border-bottom: solid 6px @magenta;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

#custom-clock, #clock {
  background-color: @background;
  color: @foreground;
  border-radius: 0rem;
  border-bottom: solid 4px @subtle;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

tooltip {
  background-color: @background;
}

#tray {
  background-color: @background;
  color: #ffffff;
  border-radius: 0rem;
  border-bottom: solid 1px @foreground;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}
