@import "catppuccin-mocha.css";

@define-color foreground @subtext0;
@define-color background @base;

@define-color highlight @mauve;
@define-color highlight-alt @pink;
@define-color sep alpha(@highlight-alt, 0.7);
@define-color muted @overlay0;
@define-color subtle @overlay1;
@define-color dim shade(alpha(@highlight, 0.4), 1.3);

@define-color arch #1793d3;

* {
  min-height: 0;
  transition-duration: 0.3s;
}

window#waybar {
  background-color: transparent;
}

window#waybar {
  border: none;
  border-radius: 0rem;
  margin: 0px;
  padding: 0rem;

  min-height: 1px;
  color: @foreground;
  background-color: @background;
  border-radius: 0rem;
  font-family: "Moralerspace Neon NF";
}

window#waybar.4K {
  font-size: 11.0pt;
}

window#waybar.FHD {
  font-size: 9.0pt;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 0rem;
  margin: 1px 16px;
}

.modules-center {
  min-width: 64px;
}

#custom-os {
  color: @arch;
  padding: 0rem 0.5rem;
  border-bottom: solid 1px @arch;
}

#workspaces {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button, button {
  background-color: @surface0;
  border-radius: 1rem;
  padding: 0rem 0.15rem;
  margin: 0rem 0.3rem;
}

#workspaces button.persistent {
  background-color: @lavender;
}

#workspaces button.empty {
  background-color: @surface2;
}

#workspaces button.visible {
  background-color: @lavender;
  padding: 0rem 1.00rem;
}

#workspaces button.active {
  background-color: @sky;
  padding: 0rem 1.00rem;
}

window#waybar.FHD #workspaces button, button {
  padding: 0rem 0.0rem;
}

window#waybar.FHD #workspaces button.visible {
  padding: 0rem 0.65rem;
}

window#waybar.FHD #workspaces button.active {
  padding: 0rem 0.65rem;
}

#custom-media {
  min-height: 0px;
  padding: 0rem 1rem;
  margin: 0px;
}

#custom-media.default {
  padding: 0rem 1rem;
  margin: 0px;
}

#custom-media.Playing {
  color: @text;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @mauve;
}

#custom-media.Paused {
  color: @subtext0;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @subtext0;
}

#custom-media.Stopped {
  padding: 0px 20px;
}

#custom-swayidle {
  color: @crust;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0rem 1rem;
} 

#custom-swayidle.Idle {
  background-color: @muted;
}

#custom-swayidle.Info {
  background-color: @red;
  padding: 0rem 1.5rem;
}

#custom-mic {
  color: @crust;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

#custom-mic.Idle {
  background-color: @muted;
  padding: 0rem 1.2rem;
}

#custom-mic.Info {
  background-color: @red;
  padding: 0rem 1.8rem;
}

#custom-ff-volume {
  color: @crust;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

#custom-ff-volume.Idle {
  background-color: @muted;
  padding: 0rem 1.0rem;
}

#custom-ff-volume.Info {
  background-color: @maroon;
  padding: 0rem 1.5rem;
}

#cpu {
  color: @sapphire;
  border-radius: 0rem;
  border-bottom: solid 1px @sapphire;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#memory {
  color: @pink;
  border-radius: 0rem;
  border-bottom: solid 1px @pink;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-gpu {
  color: @yellow;
  border-radius: 0rem;
  border-bottom: solid 1px @yellow;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature {
  color: @green;
  border-radius: 0rem;
  border-bottom: solid 1px @green;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature.Warning {
  color: @red;
  border-bottom: solid 1px @red;
  font-weight: bold;
}

#custom-temperature.Critical {
  color: @crust;
  background-color: @red;
  border-bottom: solid 1px @red;
  font-weight: bold;
}

#custom-update.info {
  color: @red;
  border-bottom: solid 3px @red;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

#custom-clock, #clock {
  background-color: @background;
  color: @text;
  border-radius: 0rem;
  border-bottom: solid 1px @teal;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

tooltip {
  background-color: @background;
}

#tray {
  background-color: @background;
  color: #ffffff;
  border-radius: 0rem;
  border-bottom: solid 1px @text;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}
