@define-color background #181616;
@define-color foreground #c5c9c5;
@define-color accent #8ba4b0;

window {
  font-family: 'monospace';
  font-size: 48px;
  background: alpha(@background, 0.70);
  color: @foreground;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 32px;
}

.large-icons {
  -gtk-icon-size: 64px;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  /*  NEEDS TO BE TRANSPARENT CUZ OF HYPRLAND BUG */
  background: alpha(@background, 0.99);
  min-width: 1600px;
  color: @foreground;
}

.preview-box {
}

.box {
}

.search-container {
  background: @background;
  color: @foreground;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  font-size: 42px;
  border-radius: 0;
  padding: 16px;
  box-shadow: none;
  outline: none;
  padding-left: 24px;
  background: @background;
  color: @foreground;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  background: @background;
  color: @foreground;
  min-width: 1600px;
}

child,
child > * {
  padding: 0;
  margin: 0;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent, 0.3);
}

.item-box {
  padding: 16px;
  min-width: 1420px;
}

.item-text-box {
  all: unset;
}

.item-text {
}

.item-subtext {
  font-size: 24px;
  opacity: 0.8;
}

.item-image {
}

.keybind-hints {
  padding: 10px;
  font-size: 24px;
  color: darker(@foreground);
  opacity: 0.5;
  background: lighter(@background);
}

.preview {
}

.calc .item-text {
}

.calc .item-subtext {
}

.symbols .item-image {
}
