[Unit]
Description=Automatic Tiling Direction Control
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "sway:wlroots" ""
ExecStart=/usr/bin/autotiling
Restart=on-failure

[Install]
WantedBy=graphical-session.target
