[Unit]
Description=Automatic Tiling Direction Control
BindsTo=sway-graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/autotiling
Restart=on-failure

[Install]
WantedBy=sway-graphical-session.target
