[Unit]
Description=Dunst notification daemon
Documentation=man:dunst(1)
After=dbus.service
BindsTo=wlr-graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst

[Install]
WantedBy=wlr-graphical-session.target
