[Unit]
Description=Input Method Daemon
BindsTo=user-graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=user-graphical-session.target
