[Unit]
Description=Fnott notification daemon
Documentation=man:fnott(1)
After=dbus.service
BindsTo=wlr-graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/fnott

[Install]
WantedBy=wlr-graphical-session.target
