[Unit]
Description=Display Hue Shifter
BindsTo=wlr-graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gammastep -l "${LATITUDE}:${LONGITUDE}" -t "6200:5200"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=wlr-graphical-session.target
