[Unit]
Description=Idle/Sleep Control
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=hypridle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
