[Unit]
Description=Idle/Sleep Control for Sway
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "sway:wlroots" ""
ExecStart=/usr/bin/swayidle lock hyprlock timeout 600 "loginctl lock-session" timeout 900 "systemctl suspend-then-hibernate"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
