[Unit]
Description=Idle/Sleep Control
BindsTo=wlr-graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w timeout 600 %h/bin/lock-screen timeout 900 "systemctl hibernate"
Restart=on-failure

[Install]
WantedBy=wlr-graphical-session.target
