[Unit]
Description=Commandline automation tool
BindsTo=wlr-graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold

[Install]
WantedBy=wlr-graphical-session.target
