// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    resize {
        unbind "Ctrl n"
        bind "Alt q" { SwitchToMode "Normal"; }
    }
    pane {
        unbind "Ctrl p"
        bind "Alt w" { SwitchToMode "Normal"; }
    }
    move {
        unbind "Ctrl h"
        bind "Ctrl m" { SwitchToMode "Normal"; }
    }
    tab {
        unbind "Ctrl t"
        bind "Alt \\" { SwitchToMode "Normal"; }
    }
    session {
        unbind "Ctrl o"
        bind "Alt o" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        unbind "Ctrl q"
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Alt p" { NewPane; }
        bind "Alt n" { NewTab; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        unbind "Ctrl p"
        bind "Alt w" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        unbind "Ctrl n"
        bind "Alt q" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        unbind "Ctrl s"
    }
    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Alt o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "locked" {
        unbind "Ctrl t"
        bind "Alt \\" { SwitchToMode "Tab"; }
    }
    shared_except "move" "locked" {
        unbind "Ctrl h"
    }
    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "detach"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui false

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }

themes {
    // Green highlight
    default {
        fg 15
        bg 0
        black 232
        red 1
        green 2
        yellow 3
        blue 4
        magenta 5
        cyan 6
        white 7
        orange 11
    }

    // Blue highlight
    contabo {
        fg 15
        bg 0
        black 232
        red 1
        green 4
        yellow 3
        blue 2
        magenta 5
        cyan 6
        white 7
        orange 11
    }

    // Cyan highlight
    n100 {
        fg 15
        bg 0
        black 232
        red 1
        green 6
        yellow 3
        blue 4
        magenta 5
        cyan 2
        white 7
        orange 11
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "default"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Disable session resurrection
session_serialization false

// vim: sw=4
